# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
pip-wheel-metadata/

# Environment variables (секреты!)
.env
*.env.local

# Docker
!.dockerignore
!Dockerfile
!docker-compose.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db